@page 
@model ShortUrl.Frontend.Pages.Update
@{
    ViewData["Title"] = "Update";
}

<h1>@ViewData["Title"]</h1>

<div class="border rounded-2 w-50 pb-2" >
     
    <form method="post" >
        <div class="ms-2 pb-3">
            <label class="p-2 font-monospace fw-normal text-body">New Long Url</label>
            <input type="url" class="form-control w-75 ms-2" id="inputUrl" name="inputUrl" placeholder="www.example.com">
        </div>
        <button type="submit" class="btn btn-primary ms-3">Submit</button>
    </form>
</div>