@page 
@model ShortUrl.Frontend.Pages.Update
@{
    ViewData["Title"] = "Update";
}


<div class="border rounded-2 w-50 pb-3 bg-white shadow-lg" >
    <form method="post" >
        <div class="ms-2 pt-4 pb-2 ps-4">
            <label class="pb-2 font-monospace fw-normal text-body"><h5>New Long Url</h5></label>
            <input type="url" class="form-control w-75 " id="inputUrl" name="inputUrl" placeholder="www.example.com">
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </div> 
    </form>
</div>